<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../semantic/dist/semantic.min.css">
    <script src="./js/jquery-2.1.4.min.js"></script>
    <script src="../semantic/dist/semantic.min.js"></script>
    <script type="text/javascript" src = "./js/angular.min.js"></script>
    <meta charset="utf-8">
    <title><%=title%></title>
    <style>
      button{
        width: 32%;
      }
      h2{
        display: inline;
      }
      .container{
        padding-top: 2%;
      }
      .first{
        flex-flow: column;
      }
      #MainBoard{
        border: none;
        border-collapse: collapse;
        border-radius: 0.28571429rem;
      }
      #MainBoard thead th:first-child{
        background-color: white;
        border: none;
      }
      #MainBoard tbody tr td:first-child{
        background-color: white;
        border: none;
      }

      #MainBoard thead th, #MainBoard tbody tr td{
        border: 1px solid rgba(34,36,38,.1);
      }
      tfoot tr th{
        border: 1px solid rgba(34,36,38,.1);
      }
      h2 a div{
        font-size: 0.7em;
      }
      .signContainer{
        padding-top: 5%;
        width: 100%;
        display:flex;
        flex-flow:column wrap;
        align-items:center;
        justify-content: center;
      }
      .signContainer div{
        display:flex;
        flex-flow:column wrap;
        align-items:center;
        justify-content: center;

      }
    </style>
  </head>
  <body>
    <div class = "ui container" ng-app="myApp" ng-controller="MainCTR">
      <div class="ui grid">
        <h2 class="ui header eight wide column">
          <i class="hashtag icon"></i>
          <div class="content">
            Free Board
            <div class="sub header">Full nodejs Module</div>
          </div>

          <a class="" href="main#/signUpPage"><div >Signup Now</div></a>
        </h2>
        <div ng-if="signIned==false" id="signUp_Box" class="eight wide column">
            <table style="width:100%;margin-bottom:3%">
              <tr ng-if="signInLog==true">
                <td>
                    <div class="ui warning message ">
                    <i class="close icon" ng-click="signInLogChange($event)"></i>
                    <div class="header">
                      No Proper SignIn request
                    </div>
                      Please check your Email/PW
                  </div>
              </td>
              </tr>
              <tr ng-if="signInLog == false">
                <td class="ui left icon input" style="width:95%">
                  <input type="text" id="userId" placeholder="Username">
                          <i class="user icon"></i>
                </td>
                <td rowspan="2" ><input style="height:118%;width:90%;" class="ui primary button" type="button" ng-click="signIn($event)" value ="signIn">

                </td>
              </tr>
              <tr ng-if="signInLog == false">
                <td class="ui left icon input" style="width:95%">
                  <input type="password" id="userPw" placeholder="password">
                  <i class="lock icon"></i>
                </td>
                <td></td>
              </tr>
            </table>
              <div class="button-set">
              <button class="ui facebook button">
                <i class="facebook icon"></i>
                Facebook
              </button>
              <button class="ui google plus button">
                <i class="google plus icon"></i>
                Google
              </button>
              <button class="ui twitter button">
                <i class="twitter icon"></i>
                Twitter
              </button>
            </div>
          </div>
          <div ng-if="signIned==true" class="eight wide column ui grid" style="text-align:right">
            <div class=" ten wide column">
              <h2 class="ui header">
                <img src="./images/stevie.jpg" class="ui mini circular image">
                  {{::email}}
                </h2>
              </div>
             <div class="five wide column">
               <input type="button" class="ui black basic button" value="LogOut" / >
             </div>

          </div>
      </div>
      <ng-view>

	    <ng-view>
        <script type="text/javascript" src="./js/angular-route.js"></script>
        <script type="text/javascript" src="./js/angularModule.js"></script>
        <script type="text/javascript" src="./js/angualr_controller.js"></script>

        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>

  </body>
</html>
