
<div class="ui basic modal">
  <i class="close icon"></i>
  <div class="header">
    SignIn Message
  </div>
  <div class="image content">
    <div class="image">
      <i class="archive icon"></i>
    </div>
    <div class="description">
      <p style="text-align:center">
        Please SignIn First
      </p>
      <p style="text-align:center">
        If you're Not SignUp, click SignUp button
      </p>
    </div>
  </div>
  <div class="actions">
    <div class="two fluid ui inverted buttons">
      <div class="ui cancel blue basic inverted button">
        Ok
      </div>
      <div class="ui ok green basic inverted button" ng-click="changeToSignPage()">
        SignUp
      </div>
    </div>
  </div>
</div>
