<div class="item ui input focus" style="display:inline-block">
  <input type="text" id="writeComment">
</div>
<input class="ui button"  type="button" value="OK" ng-click="writeComment()">

<div id="commentList" class="ui celled list" ng-repeat="comment in comList ">
  <div class="item" ng-click="hide($index)">
      <i class="ui red ribbon label" ng-if="comment.newest==true"  id="label"> new</i>
    <div class="content">
      <div class="header">Commentor : {{comment.commentor}}</div>
      {{comment.comment}}

    </div>
  </div>
</div>
