


<div class="ui grid">
  <div class="twelve wide column">
    <table id="MainBoard" class="ui celled table">
      <thead>
        <th></th>
        <th style="width:10%;">No</th>
        <th style="width:60%;">Title</th>
        <th style="width:15%;">Writer</th>
        <th style="width:5%;">Comments</th>
        <th style="width:5%;">Hits</th>
      </thead>

    <tbody>
      <tr ng-repeat="thread in threads">
        <td>
          <div class="ui right pointing red basic label" ng-if="thread.isNew===true " >
              New
          </div>
        </td>
        <td>{{thread._id}}</td>
        <td class="thead title" ng-click="openThread(thread._id)">

            {{thread.title}}
        </td>
        <td>{{thread.writer}}</td>
        <td>{{thread.commentNum}}</td>
        <td>{{thread.Hits}}</td>

      </tr>

    </tbody>
    <tfoot>
      <tr>
        <th style="border:none;background-color:white;"></th>
        <th colspan="5">
          <div class="ui small button" ng-click="goWriteForm()">
            <i class="write icon"> </i>Write
          </div>
            <div class="ui right floated pagination menu">
              <a class="icon item"  ng-click="prevPage()">
                <i class="left chevron icon"></i>
              </a>
              <span ng-repeat="number in numberOfPannel | limitTo: 4 | filter : compare">
                <a class="item pagePannel No{{$index}}" ng-click="pageChange(number)">{{number}}</a>
              </span >
              <a class="item pagePannel" id="lastPage" ng-if="numberOfPannel.length>4">...</a>

              <a class="icon item" ng-click="nextPage()">
                <i class="right chevron icon"></i>
              </a>
            </div>
          </th>
        </tr>
      </tfoot>
    </table>
    <div ng-include="threadViewer" autoscroll style="width:90%; float:right" >

    </div>
    <div ng-include="template" autoscroll style="width:90%; float:right">

    </div>

  </div>
  <div class="four wide column" ng-include="commentList">



  </div>
</div>
<script>


  $(function(){
    $('#writeComment').on('click',function(){

        $('#commentList').prepend("<div class='item'>"+
        "<img class='ui avatar image' src='/images/avatar/small/daniel.jpg'>"
        +"<div class='content'>"
        +"<div class='header'>Paulo</div>He's also a dog</div>"
          )
    })


  })

</script>
