<div>
    <div class="ui form">
      <div class="field">
        <label>Title
            <input type="text" placeholder="Title" id="title" name = "title">
        </label>
      </div>
      <div class=" field">
        <label>Text
          <textarea rows="20" id="context"></textarea>
        </label>
      </div>
      <div class = "field" id="scroll">
        <div class="ui buttons">
          <button class="ui button" ng-click="writeCancel()">Cancel</button>
            <div class="or"></div>
          <button class="ui positive button" ng-click="save()">Save</button>
        </div>
      </div>
    </div>
</div>
